<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 <title>{% block title %}Dragboard{% endblock %}</title>
 <link rel=StyleSheet href="/static/style.css" type="text/css"> 
 <script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>
<body>
{% block content %}
{% endblock %}
<small>
This application uses data returned from the Evri API: <a href="http://www.evri.com/developer">http://www.evri.com/developer</a>
</small>
</body>
</html>
