{% if user %}
<div style="width: 700px; height: 400px; border: solid black;" id="board">
{% for item in board %}
  <div class="dragitem">
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% if item.source %}<small>(<b>Source</b> {{ item.source }})</small>{% endif %}
    <form action="/del_res" method="POST"><input type="submit" name="delete" value="delete">
    <input type="hidden" name="url" value="{{ item.url }}">
    <input type="hidden" name="board" value="{{ item.board }}">
    <input type="hidden" name="next" value="{{ thisurl }}">
    </form>
    <br>
    {{ item.content }}
  </div>
{% endfor %}
</div>
{% endif %}
