{% extends "base.html" %}
{% block title %}Dragboard{% endblock %}
{% block content %}
<form action="/topic" method="GET">
<label for="topicinput">News topic:</label><input id="topicinput" type="text" name="search" value="{{search}}"/>
<input type="submit" name="submit" value="Analyse"/>
<hr>
</form>
<br>
{% for item in results %}

<b>{{ item.title }}</b>
{% if item.author %}
<small>(<b>Source</b>: {{ item.author }})</small>
{% endif %}
{% if item.url %}
<a href="/url?url={{item.url|urlencode}}">Analyse</a>
<a href="{{item.url}}" target="_blank">Open</a>
{% include "addresbutton.html" %}
{% endif %}
{% if item.content %}
<br>
{{ item.content }}
{% endif %}

{% if item.entities %}
<br>
<small>
{% for entity in item.entities[:10] %}
<a href="/ref?ref={{ entity.ref|urlencode }}&name={{ entity.name|urlencode }}">{{ entity.name }}</a>
{% endfor %}
</small>
{% endif %}
<hr>
{% endfor %}
<small>This page uses data returned from the <a href="">Guardian Open Platform</a>, and the Evri API: <a href="http://www.evri.com/developer">http://www.evri.com/developer</a></small>
{% endblock %}
