{% extends "base.html" %}
{% block title %}Dragboard{% endblock %}
{% block content %}
<form action="/url" method="GET">
<label for="urlinput">Url:</label><input id="urlinput" type="text" name="url" value="{{url}}"/>
<input type="submit" name="submit" value="Analyse"/>
{% if url %}
<a href="{{url}}" target="_blank">Open</a>
{% endif %}
</form>
{% if categories %}
Categories: {{ categories|join(', ') }}
<hr>
{% endif %}
{% for entity in entities %}
{% if entity.name and entity.ref %}

<a href="/ref?ref={{entity.ref|urlencode}}&name={{entity.name|urlencode}}">{{ entity.name }}</a>
{% if entity.facet %}
{{ entity.facet }}
{% endif %}
<br/>

{% endif %}
{% endfor %}
<hr>
{% if url %}
<a href="/entities?url={{url|urlencode}}">This data in JSON format<a/><br>
{% endif %}
<small>This page uses data returned from the Evri API: <a href="http://www.evri.com/developer">http://www.evri.com/developer</a></small>
{% endblock %}
